* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafffd;
}

h2 {
    margin-top: 10px;
    margin-bottom:15px;
    text-align: center;

}

.fullPage {
    margin: 0 3em;
}

/*********** Navigation ***********/
.logo {
    color: black(199, 194, 194);
    /* border: solid red 1.5px; */
    padding: 1em;
    text-transform: uppercase;
}

.logo a {
    color: black;
  }

  .logo a,
  ul a {
    text-decoration: none;
    letter-spacing: 0.4em;
  }

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafffd;
    border-bottom: #f7b801 solid 4px;
    /* border: solid red 1.5px; */
  }

  .navLinks {
    /* border: solid red 1.5px; */
    list-style: none;
    text-transform: uppercase;
    display: flex;
  }
  
  ul a {
    display: block;
    padding: 1em;
    color: black;
  }
  
  ul a:hover {
    background-color: mediumaquamarine;
  }

  /*********** Project Cards ***********/
#projectsPage {
    display: flex;
    flex-flow: wrap;
    margin: 0 3em;
    padding: 1em;
    justify-content: space-evenly;
    border: solid black 1.5px;
    background-color: #342e37;
    border-radius: 5px;

  }

.projectCard{
    background-color: #fafffd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

  /*********** Footer ***********/

  footer {
    margin-top: 100px;
    padding: 20px;
    background-color: #f7b801;
    text-align: center;
  }

  footer ul {
      list-style: none;
  }